input.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-valid.ng-touched {
  border: 1px solid green;
}

input {
  float: right;
}

td {
  padding-left: 6px;
  padding-right: 6px;
  border-right: 2px dashed black;
}

.myForm {
  margin-left:auto;
  margin-right:auto;
}

.center {
  margin-left:auto;
  margin-right:auto;
  width: 500px;
}
.jsonstuff {
  background-color: blanchedAlmond;
}
